#page {
	width: 100%;
	height: 100%;
}

#photoCapturer {
	height: 100%;
	width: 100%;
	font-size: large;
}

#photoWrapper {
	background-image:url(../img/disclaimer.jpg);
	background-position: center 50px;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: middle;
	border:1px solid gray; 
	height: 100%;
}

#caribbean {
	cursor:wait;
	width: 100%;
}